{% extends "root.html" %}

{% block main %}

<div class="sensor-card">
    <table align="center" cellpadding="20px" cellspacing="30px">
        <tr>
            <td class="bold_em">NodeID</td>
            <td>{{ NodeID }}</td>
        </tr>
        <tr>
            <td class="bold_em">pm1</td>
            <td>{{ pm1 }}</td>
        </tr>
        <tr>
            <td class="bold_em">pm2</td>
            <td>{{ pm2 }}</td>
        </tr>
        <tr>
            <td class="bold_em">pm3</td>
            <td>{{ pm3 }}</td>
        </tr>
        <tr>
            <td class="bold_em">am</td>
            <td>{{ am }}</td>
        </tr>
        <tr>
            <td class="bold_em">vane_str</td>
            <td>{{ vane_str }}</td>
        </tr>
        <tr>
            <td class="bold_em">sm</td>
            <td>{{ sm }}</td>
        </tr>
        <tr>
            <td class="bold_em">temp</td>
            <td>{{ temp }}</td>
        </tr>
        <tr>
            <td class="bold_em">humd</td>
            <td>{{ humd }}</td>
        </tr>
        <tr>
            <td class="bold_em">pres</td>
            <td>{{ pres }}</td>
        </tr>
        <tr>
            <td class="bold_em">lum</td>
            <td>{{ lum }}</td>
        </tr>
        <tr>
            <td class="bold_em">bat</td>
            <td>{{ bat }}</td>
        </tr>
        <tr>
            <td class="bold_em">timex</td>
            <td>{{ timex }}</td>
        </tr>
    </table>
</div>

{% endblock main %}