{% extends "root.html" %}

{% block main %}

    <div class="tab">
        <a href="{{ url_for('account') }}"><button class="tablinks">Arduino Uno Custom</button></a>
        <a href="{{ url_for('nrf5') }}"><button class="tablinks active">Nordic nRF5 Custom</button></a>
        <a href="{{ url_for('data_') }}"><button class="tablinks">Libelium SA Pro</button></a>
    </div>

    <div class="contentraw" id="nRF5">
        <div class="sensor-card">
            <table align="center" cellpadding="20px" cellspacing="15px">
                <tr>
                    <th>Model Number</th>
                    <th>Type</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Value</th>
                </tr>
                {% for sensors in sensor %}
                {% set sen_str = sensors %}
                {% set temp = split_func(sen_str) %}
                {% set temp1 = temp[1] %}
                {% set temp1 = strip_func(temp1) %}
                <tr>
                    <td>{{temp[0]}}</td>
                    <td>{{temp1}}</td>
                    <td>{{temp[2]}}</td>
                    <td>{{temp[3]}}</td>
                    <td>{{temp[4]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock main %}

<!--<button class="tablinks" onclick="openCity(event, 'nRF5')">Nordic nRF5 Custom</button>-->