<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/PictureForm.js')}}"></script>
    <script src="{{ url_for('static', filename='js/opensensor.js')}}"></script>
</head>
<body>
<header>
    <nav>
        <ul class="nav-links">
            <li><div class="media-body"><img id="media-profile" class="rounded-circle account-img" src="{{ img_file }}" onclick="PictureForm()"></div></li>
            <li><div><p id="welcome"> Welcome {{ current_user.username }}</p></div></li>
            <li><a class="nav-item nav-link" href="{{ url_for('account') }}"><button class="op-button" id="plot-btn">Data</button></a></li>
            <li><a class="nav-item nav-link" href="{{ url_for('logout') }}"><button class="op-button" id="out-btn">Logout</button></a></li>
        </ul>
    </nav>
</header>

    <div class="tab">
        <a href="{{ url_for('data_plot') }}"><button class="tablinks">Pluvio 1</button></a>
        <a href="{{ url_for('pm2') }}"><button class="tablinks">Pluvio 2</button></a>
        <a href="{{ url_for('pm3') }}"><button class="tablinks">Pluvio 3</button></a>
        <a href="{{ url_for('anemo') }}"><button class="tablinks">Anemometer</button></a>
        <a href="{{ url_for('sm') }}"><button class="tablinks active">Soil Moisture</button></a>
        <a href="{{ url_for('st') }}"><button class="tablinks">Soil Temperature</button></a>
        <a href="{{ url_for('lum') }}"><button class="tablinks">Luminosity</button></a>
        <a href="{{ url_for('temp') }}"><button class="tablinks">Temperature</button></a>
        <a href="{{ url_for('humd') }}"><button class="tablinks">Humidity</button></a>
        <a href="{{ url_for('pres') }}"><button class="tablinks">Pressure</button></a>
    </div>

    <div class="plotz">
        <img src="{{url_for('static', filename='images/sm.png')}}" class="imgplotz"/>
    </div>

</body>
</html>
